.flex-container1 {
	width: 40%;/* eni*/
    height: 120px;/* bo'yi*/

	display: flex; /* flex konteynerini yaratadi */
	flex-direction: row; /* asosiy o'qlar yo'nalishi */
	

	background-color: aquamarine; /* fon rangi */
	
}

.flex-container2 /* row-reverse */ {
	width: 40%; /* eni*/
    height: 120px; /* bo'yi*/

	display: flex; /* flex konteynerini yaratadi */
	flex-direction:row-reverse; /* asosiy o'qlar yo'nalishi */
	

	background-color: rgb(23, 241, 81); /* fon rangi */
}
.flex-container3 {
     width: 40%;
	height: 120px;

	display: flex; /* flex konteynerini yaratadi */
	flex-direction: row; /* asosiy o'qlar yo'nalishi */
	justify-content: space-around; /* asosiy o'qlar bo'ylab elementlarni taqsimlash */
	align-items:flex-end; /* kesish o'qlari bo'ylab elementlarni joylash */
	
	background-color: rgb(246, 152, 52);

    
}
.flex-container4 {
    width: 40%;
	height: 120px;

	display: flex;
	flex-direction: row;
	justify-content: space-between; /* asosiy o'qlar bo'ylab elementlarni taqsimlash */
	align-items: center;

	background-color: aqua;
}
.flex-container5 {
   width: 40%;
    height: 120px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	
	background-color: cadetblue;
}
.flex-container6 {
	width: 40%;
	height: 120px;

	display: flex;
	flex-direction: row; /* asosiy o'qlar yo'nalishi */
	justify-content: space-evenly; /* asosiy o'qlar bo'ylab elementlarni taqsimlash */
	align-items: center;

	background-color: rgb(87, 124, 56);
}
.flex-container7 {
    width: 15%;
	height: 720px;

	display: flex;
	flex-direction: column; /* asosiy o'qlar yo'nalishi */
	justify-content:; /* asosiy o'qlar bo'ylab elementlarni taqsimlash */
	
	position: absolute; /* pozitsiyalashni yoqish */
	top: 1%; /* yuqoridan 1% masofada */
	left: 40.1%; /* chapdan 40.1% masofada */

	background-color: mediumseagreen;
	
}
.flex-container8 {
	width: 10%;
	height: 720px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end; /* asosiy o'qlar bo'ylab elementlarni taqsimlash */
	align-items: center;
	
	position: absolute; /* pozitsiyalashni yoqish */
	top: 1%; /* yuqoridan 1% masofada */
	left: 50.1%; /* chapdan 50.1% masofada */

	background-color: rgb(182, 239, 11);
}
.flex-container9 {

     width: 10%;
	height: 720px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: absolute;
	top: 1%;
	left: 60.1%;
	background-color: rgb(189, 125, 155);
	
}

.flex-container10 {
	 width: 10%;
	height: 720px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	position: absolute;
	top: 1%;
	left: 70.1%;
	background-color: rgb(3, 250, 143);
}
.flex-container11 {
     width: 10%;
	height: 720px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

	position: absolute;
	top: 1%;
	left: 80.1%;
	background-color: rgb(188, 198, 194);
}
.flex-container12 {
	 width: 10%;
	height: 720px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:flex-end;

	position: absolute;
	top: 1%;
	left: 90.1%;
	background-color: rgb(248, 137, 52);
}
.flex-container13 {
	width: 350px;
	height: 300px;

	display: flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap; /* elementlarni yangi qatorga o'tkazish */

	
	background-color: rgb(113, 72, 190);
	
}
.flex-container14 {
     width: 350px;
	height: 300px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:flex-end;
	flex-wrap: wrap-reverse; /* elementlarni yangi qatorga o'tkazish */

	position: absolute;
	top: 89.5%;
	left: 25%;

	background-color: rgb(182, 239, 11);
}
.flex-container15 {
     width: 350px;
	height: 300px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:flex-start;
	flex-wrap: wrap-reverse; /* elementlarni yangi qatorga o'tkazish */

	position: absolute;
	top: 89.5%;
	left: 49%;

	background-color: rgb(72, 201, 240);
}
.flex-container16 {
     width: 350px;
	height: 300px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items:center;    /* elementlarni markazga joylash */
	flex-wrap: wrap-reverse; /* elementlarni yangi qatorga o'tkazish */

	position: absolute; /* pozitsiyalashni yoqish */
	top: 89.5%;
	left: 73.3%;

	background-color: rgb(144, 221, 20); /* fon rangi */
}
.leon {
	width: 80px;
	height: 60px;

	background-color: #210ef3; /* fon rangi  (doira)*/
	border: 2px solid #000000; /* chegara rangi va qalinligi */
	border-radius: 50%; /* doira shaklida qilish */
	color: #d61212;  /* matn rangi */
    text-align: center; /* matnni gorizontal markazlash */
	padding-top: 1%; /* matnni vertikal markazlash */
	
	

	
	font-size: 48px; /* shrift o'lchami */
	
}
