div.container {
	
	width: 1100px;
	margin: auto;
	padding: 0px;
	

	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap ;
	gap:20px;

	background-color: blueviolet;
	color: ;
	font: ;
	border: ;
	border-radius: ;
}

.leon
{
	width:300px;
	height:300px;

	background-color: #12efb7;
	border: 2px solid #d12020;
	text-align: center;
    box-shadow: rgb(34, 207, 246) 10px 5px 15px 10px;
	
	
	

	
	

    
	
}
.leon img
{
	width: 296px;
	height: 200px;
	border-radius: 0%;

}
 

.leon:hover
{
	transform: translateY(-6px);
	box-shadow: rgb(246, 20, 145) 10px 5px 15px 10px;
	cursor: pointer;
	
}
 
.leon:active {
   transform: translateY(-2px); 
   box-shadow: 0 4px 15px rgba(15,20,30,0.2);

}

p {
	background-color: ;
	color: rgb(29, 59, 47);
	font-weight: 800;
	padding: 4px;
	font-size: 16px;

}

h1 {
	text-align: center;
	color: rgb(68, 241, 20);
	font-size: 80px;
	font-weight: 900;
	margin-top: 40px;
	margin-bottom: 40px;
}
.pen {
	width: 1100px;
	margin: auto;
	padding: 0px;
	

	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: wrap ;
	gap:20px;

	background-color: blueviolet;
	color: ;
	font: ;
	border: ;
	border-radius: ;
}
}



